html {
  font-size: 18px;
}

body {
  font-family: helvetica;
  margin: 0;
}

div {
  display: block;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Logo */
.logo {
  background-color: black;
  color: white;
}

.logo .container {
  display: flex;
  align-items: center;
  padding: 0.66rem 0;
}

.logo img {
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 0.5rem;
}

/* Main Banner */
.main-banner {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.content {
  background-color: black;
  color: white;
  width: 20rem;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
  font-weight: bold;
}

.content h1 {
  font-size: 2rem;
  margin: 0.25rem 0px;
}

/* Navigation Bar */
nav {
  background-color: firebrick;
  color: white;
}

nav ul {
  padding: 0.75rem 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Product Grid */
.products {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0px 0px;
}

.product {
  width: 30%;
}

.product-image {
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  padding: 2rem 0;
}
.product-image img {
  max-width: 9rem;
}

.products span {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

/* Location and Hours */
.company-info {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 4rem;
}

.info {
  width: 35%;
}

.info .title {
  display: block;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}

/* Footer */
footer {
  color: white;
  background-color: black;
  text-align: left;
  padding: 5em 0;
}

/* Media Queries for 1024px */
@media only screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1024px) {
  .tablet-container {
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .tablet-container li {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .product {
    width: 47%;
  }
}

@media only screen and (max-width: 1024px) {
  .glasses {
    display: none;
  }
}

/* Media Queries for 470px */

@media only screen and (max-width: 470px) {
  .logo span {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .logo {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 470px) {
  .main-banner {
    height: 15rem;
  }
}

@media only screen and (max-width: 470px) {
  .content {
    padding: 1rem 2rem;
    top: 10rem;
    width: 18.2rem;
  }
}

@media only screen and (max-width: 470px) {
  .content h1 {
    font-size: 1rem;
    font-weight: bold;
  }
}

@media only screen and (max-width: 470px) {
  .content h4 {
    font-size: 0.77rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
  }
}

@media only screen and (max-width: 470px) {
  .watch {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .products {
    justify-content: center;
  }
}

@media only screen and (max-width: 470px) {
  .product {
    width: 90%;
  }
}

@media only screen and (max-width: 470px) {
  .company-info {
    display: block;
  }
}

@media only screen and (max-width: 470px) {
  .info {
    width: 90%;
    margin-bottom: 0.5rem;
    padding-left: 5%;
  }
}

@media only screen and (max-width: 470px) {
  .info .title {
    margin-bottom: 0.25rem;
  }
}

@media only screen and (max-width: 470px) {
  footer {
    text-align: center;
  }
}
